{% extends "admin_base.html" %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"><b>Plans</b></h3>

                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input name="table_search" class="form-control input-sm pull-right" placeholder="Search"
                                   type="text">

                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default" style="height: 30px;"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="plans_table">
                        <tbody>
                        <tr>
                            <th>Invoice ID</th>
                            <th>Client Name</th>
                            <th>Invoiced</th>
                            <th>Draft</th>
                            <th>Invoice Date</th>
                            <th>Paid Date</th>
                            <th>Total Amount</th>
                            <th></th>
                        </tr>
                        {% for invoice in invoices %}
                        <tr class='clickable-row' data-href="{% url 'ethernet-invoice:get_invoice' invoice.id %}" style="cursor:pointer;">
                            <td>{{ invoice.invoice_id }}</td>
                            <td>{{ invoice.user.name }}</td>
                            <td>
                                {% if invoice.invoiced %}
                                    <span class="label label-primary">Sent</span>
                                {% else %}
                                    <span class="label label-danger">Failed</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if invoice.draft %}
                                    <span class="label label-primary">True</span>
                                {% else %}
                                    <span class="label label-danger">False</span>
                                {% endif %}
                            </td>
                            <td>{{ invoice.invoice_date }}</td>
                            <td>{{ invoice.paid_date }}</td>
                            <td>{{ invoice.total_amount }}</td>
                            <td>
                                <button class="btn btn-default btn-sm" title="delete invoice"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>
{% endblock content %}
