{% extends "admin_base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).on('submit','#client_list',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/invoice/list/',
      data:{
        search_value:$('#table_search').val(),
        action : 'start1',
        csrfmiddlewaretoken:'{{ csrf_token }}'
      },
      success:function(data){
        alert("list generated!");
        console.log(data);
         
      }
    });
          
  });
</script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
            <form id ="client_list">{% csrf_token %}
                <div class="box-header">
                    <h3 class="box-title"><b>Clients</b></h3>

                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input id="table_search" name="table_search" class="form-control input-sm pull-right" placeholder="Search"
                                   type="text">

                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default" style="height: 30px;" id="submit"  type="submit"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="client_table">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No</th>
                            <th></th>
                        </tr>
                        {% for client in clients %}
                        <tr>
                            <td>{{ client.id }}</td>
                            <td>{{ client.name }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.phone_number }}</td>
                            <td>
                                <a href="{% url 'ethernet-client:client_delete' client.id %}"><button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                
                                    <button class="btn btn-default btn-sm pull-right"><i class="fa fa-edit"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>
{% endblock content %}
