{% extends "admin_base.html" %}

{% block content %}
<section class="content" style="min-height:10px; padding-bottom:0px;">
    <div class="box box-info" style="margin-bottom: 0px;">
        <div class="box-header with-border">
            <h3 class="box-title"><b>Add New Client</b></h3>

            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div style="display: block;" class="box-body" id="plan_form">
            <div>
                <form method="post">
                {% csrf_token %}
                    <div class="form-group" style="margin:20px;">
                        <div class="row">
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Name
                                </label>
                                {{ client_form.name }}
                                {{ client_form.name.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Client ID:
                                </label>
                                {{ client_form.client_id }}
                                {{ client_form.client_id.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Email:
                                </label>
                                {{ client_form.email }}
                                {{ client_form.email.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Phone No:
                                </label>
                                {{ client_form.phone_number }}
                                {{ client_form.phone_number.errors }}
                            </div>
                        </div>
                        <br />
                        <div class="row" style="border:solid 1px #c3c3c3;padding-bottom: 15px;">
                            <h4 style="padding-left:15px;"><strong>Address</strong></h4>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                     Address:
                                </label>
                                {{ address_form.address }}
                                {{ address_form.address.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Flat No:
                                </label>
                                {{ address_form.flat_no }}
                                {{ address_form.flat_no.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Society:
                                </label>
                                {{ address_form.society }}
                                {{ address_form.society.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Area:
                                </label>
                                {{ address_form.area }}
                                {{ address_form.area.errors }}
                            </div><br/><br/>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    City:
                                </label>
                                {{ address_form.city }}
                                {{ address_form.city.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    State:
                                </label>
                                {{ address_form.state }}
                                {{ address_form.state.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Country:
                                </label>
                                {{ address_form.country }}
                                {{ address_form.country.errors }}
                            </div>
                            <div class="col-md-3">
                                <label style="margin-top: 10px;">
                                    Zipcode:
                                </label>
                                {{ address_form.zipcode }}
                                {{ address_form.zipcode.errors }}
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" style="padding-top:30px;padding-left:20px;border-top:1px solid #f4f4f4;">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" id="submitclient">Submit</button>
                    </div>
                </div>
                <div class="row">
                    <sapan id="plan_error" class="col-md-12 callout callout-danger" style="display:none;"></sapan>
                </div>
                <div class="row">
                    <sapan id="plan_success" class="col-md-12 callout callout-info" style="display:none;"></sapan>
                </div>

            </div>
        </div><!-- /.box-body -->
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"><b>Clients</b></h3>

                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input name="table_search" class="form-control input-sm pull-right" placeholder="Search"
                                   type="text">

                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default" style="height: 30px;"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="client_table">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No</th>
                            <th></th>
                        </tr>
                        {% for client in clients %}
                        <tr>
                            <td>{{ client.client_id }}</td>
                            <td>{{ client.name }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.phone_number }}</td>
                            <td>
                                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>

<style>
    #plan_type, #id_duration{
        width:60%;
    }
    #id_price{
        width:72%;
    }
    #id_download_speed{
        width:40%;
    }
    #id_post_FUP_speed{
        width:40%;
    }
    #id_installation_charges{
        width:26%;
    }
    #id_subscription_amount{
        width:30%;
    }
    #id_FUP_limit{
        width:30%;
    }

</style>
{% endblock content %}

