{% extends "admin_base.html" %}

{% block content %}
<head>
	<title></title>
	<h1 align='center' style="color:Blue;"><b><i>Welcome to Quotation App</i></b></h1>
</head>

<ul>
	<li><p style="font-size:150%;"><a href="{% url 'quotation:create_item' %}">Create Item</a></p></li>
	</br>
	<li><p style="font-size:150%;"><a href="{% url 'quotation:tablelist' %}">List View</a></p></li>
	</br>
	<li><p style="font-size:150%;"><a href="{% url 'quotation:list_item' %}">Details of client</a></p></li>
	</br>
	<li><p style="font-size:150%;"><a href="{% url 'quotation:create_item1' %}">Create Multiple Items</a></p></li>
	
</ul>
{% endblock content %}