{% extends "admin_base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).on('submit','#quotation_list',function(e){
    e.preventDefault();
    alert(hii);

    $.ajax({
      type:'POST',
      url:'/quotation/tablelist/',
      data:{
        search_value:$('#table_search').val(),
        action : 'start1',
        csrfmiddlewaretoken:'{{ csrf_token }}'
      },
      success:function(data){
        alert("list generated!");
        console.log(data);
         
      }
    });
          
  });
</script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
            <form id ="quotation_list">{% csrf_token %}
                <div class="box-header">
                    <h3 class="box-title"><b>List of Items</b></h3>

                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input id="table_search" name="table_search" class="form-control input-sm pull-right" placeholder="Search"
                                   type="text">

                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default" style="height: 30px;" id="submit"  type="submit"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="quotation_table">
                        <tbody>
                        <tr>
                            
                            <th>Client ID</th>
                            <th>quotation no</th>
                            <th>Item name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Amount</th>
                            <th></th>
                        </tr>
                        {% for item in item_list %}
                            <td>{{ item.client }}</td>
                            <td>{{ item.quotation_no }}</td>
                            
                           
                            
                            <td>{{ item.item }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.total }}</td>
                            <td>
                                <a href="{% url 'quotation:item_delete' item.pk %}"><button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>
{% endblock content %}

