{% extends "admin_base.html" %}

{% block content %}
<head>
	<title></title>
</head>
	<div class="row">
		<div class='col-md-3'>
		</div>
		<div class='col-md-6'>
			<h1 align='center' style="color:Green;">Create Quotation</h1>




			<script type='text/javascript'>
				$('input[type="text"]').addClass('form-control');
				$('textarea').addClass('form-control');
			</script>

			<div class="container">
				<div class='col-md-8'>
				<div class="panel panel-default">
					<div class="panel-body">
						<form action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{{user_form.as_p}}
							{{item_form.as_p}}
							<table rules="all" style="background:#fff;">
								<tr>
									<td style="font-size:16px;" >Name</td>
									<td style="font-size:16px;">Quantity</td>
									<td style="font-size:16px;">Price</td>
									<td><span style="font:normal 12px agency, arial; color:blue; text-decoration:underline; cursor:pointer;" onclick="addMoreRows(this.form);">
									Add More
									</span>
									</td>
								</tr>

								<tr id="rowId">
									<td>{{item_form.item}}</td>
									<td>{{item_form.quantity}}</td>
									<td>{{item_form.price}}</td>
									</table>
									<div id="addedRows"></div>
									</td>
								</tr>
							<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
							</script>
							<script type="text/javascript">
							var rowCount = 1;
							function addMoreRows(frm) {
							rowCount ++;
							var recRow = '<p id="rowCount'+rowCount+'"><tr><td>{{item_form.item}}</td><td>{{item_form.quantity}}</td><td>{{item_form.price}}</td></tr> <a href="javascript:void(0);" onclick="removeRow('+rowCount+');">Delete</a></p>';
							jQuery('#addedRows').append(recRow);
							}

							function removeRow(removeNum) {
							jQuery('#rowCount'+removeNum).remove();
							}
							</script>
							<input type='submit' value='Save' class='btn btn-primary btn-lg btn-block'/>
					 		<a href="{% url 'quotation:home' %}">GOTO HOME</a>
						</form>
					</div>
				</div>
				</div>	
			</div>
		</div>
		<div class='col-md-3'>
		</div>
	</div>
{% endblock content %}