{% extends "admin_base.html" %}

{% block content %}
<head>
	<title></title>
</head>
<script type='text/javascript'>
		$('input[type="text"]').addClass('form-control');
		$('textarea').addClass('form-control');
</script>

	<div>
		<form action="" method="post" >
			<div class="container" style="margin-top: 50px;">
			<h2 style="color:blue;"><i><b>client list</b></i></h2>
			{% if clients %}
				{% for q in clients %}
					<ul>
						<li><h3 style="color:green;">{{q.name}}</h3></li>
						<p><a href="{% url 'quotation:item_detail' q.pk %}" class="btn btn-primary" role="button">View</a></p>
					</ul>	
				{% endfor %}	
			{% endif %}	
			</div>
			</br>
			<a href="{% url 'quotation:home' %}">Back to Home</a></li>
		</form>
	</div>
{% endblock content %}