	{% load staticfiles %}
	<!-- about us-->
	
	
	<section id="about-intro-block">
      <div class="container">
	  <h1 class="section-title wow fadeInUpQuick animated animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
          ABOUT US
        </h1>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="heading">
              <h3 class="small-title">
                The Company
              </h3>
            </div>
            <div class="the-company wow fadeIn animated" style="visibility: visible;">
              <p>
                <img class="alignleft" src="{% static 'img/about/about3.png' e%}" alt="">
               
			   We at Ethernet brings a world of knowledge, information, entertainment at your doorstep. We provide a secured broadband services with a variety of services to choose from.
			   </p><p>Our vision is to be a leading Broadband Service Company offering fast, reliable and high speed internet to home, enterprise and other customers. 
			   
			   </p>              
            </div>
          </div>          
          <div class="col-sm-6 col-md-6 skill-wrapper wow fadeIn animated" data-wow-delay=".8s" style="visibility: visible;-webkit-animation-delay: .8s; -moz-animation-delay: .8s; animation-delay: .8s;">
            <div class="heading">
              <h3 class="small-title">
                Our skills
              </h3>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%">
                <p>
                  Installation
                </p>
              </div>
              <span class="percent">
                86%
              </span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <p>
                  Reliable
                </p>
              </div>
              <span class="percent">
                91%
              </span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <p>
                  High-speed
                </p>
              </div>
              <span class="percent">
                80%
              </span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <p>
                  Service
                </p>
              </div>
              <span class="percent">
                70%
              </span>
            </div>
           
          </div>
        </div>
      </div>
    </section>
	
