{% load staticfiles %}
<footer>
    <!-- Container Starts -->
    <div class="container">
        <!-- Row Starts -->
        <div class="row">
            <!-- Footer Widget Starts -->
            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn animated" style="visibility: visible;">
                <h3 class="small-title">
                    Ethernet
                </h3>

                <p>
                    <!--<img src="static/img/logo.png">-->
                </p>

                <p>
                    Get connected to the World.
                </p>


            </div><!-- Footer Widget Ends -->


            <!-- Footer Widget Starts -->
            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn animated" data-wow-delay=".8s"
                 style="visibility: visible;-webkit-animation-delay: .8s; -moz-animation-delay: .8s; animation-delay: .8s;">
                <h3 class="small-title">
                    Tags
                </h3>

                <div class="tagcloud">
                    <a href="#about-intro-block" class="tag-link-201 page-scroll" title="1 topic"><i
                            class="fa fa-tags"></i> About us</a>
                    <a href="#progress" class="tag-link-197 page-scroll" title="1 topic"><i class="fa fa-tags"></i> Our
                        Work Process</a>
                    <a href="#pricing-block-2" class="tag-link-211 page-scroll" title="1 topic"><i
                            class="fa fa-tags"></i> Plans</a>
                    <a href="#contact2" class="tag-link-203 page-scroll" title="1 topic"><i class="fa fa-tags"></i>
                        Contact Us</a>

                </div>
            </div><!-- Footer Widget Ends -->


            <!-- Footer Widget Starts -->
            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn animated pull-right" data-wow-delay=".2s"
                 style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
                <h3 class="small-title">
                    Find Us
                </h3>
                <ul class="recent-tweets">
                    <li class="tweet">
                        S.no. 45/2, Near Priyadarshini School, Indrayaninagar, Bhosari, Pune - 411026. 09130059956 /
                        09130059954
                    </li>


                    <li class="tweet">

                        Gat no. 452/1, Indralok Colony, Gandharvanagari, Moshi - 412105. 09881835778 / 09011800578


                    </li>


                </ul>
            </div><!-- Footer Widget Ends -->


        </div><!-- Row Ends -->
    </div><!-- Container Ends -->

    <!-- Copyright -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-6">
                    <p class="copyright-text">
                        © 2016 Ethernet. All right reserved.
                    </p>
                </div>
                <div class="col-md-3  col-sm-6">

                </div>
            </div>
        </div>
    </div>
    <!-- Copyright  End-->

</footer>

<div class="scroll-top affix" data-spy="affix" data-offset-top="500">
    <a onclick="smoothScr.anim('roof')">
        <i class="fa fa-angle-up fa-2x">
        </i>
    </a>
</div>

<div style="display: none;" id="loader">
    <div class="square-spin">
        <img src="{% static 'img/preloader.gif' %}" alt="">
    </div>
</div>