<section id="pricing-but">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUpQuick animated animated" data-wow-delay="2s"
                 style="visibility: visible;-webkit-animation-delay: 2s; -moz-animation-delay: 2s; animation-delay: 2s;">
<center>
                <a href="#" class="btn btn-border btn-lg" data-toggle="modal" data-target="#myModalNorm" style="font-size: 40px;">
                    GET CONNECTION
                </a></center>
            </div>
        </div>
    </div>
</section>