<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Connection Request
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <div>
                    <form method="post">
                        {% csrf_token %}
                        <input id="new_client_id" type="hidden" name="new_client_id">
                        <input id="new_address_id" type="hidden" name="new_address_id">

                        <div class="box box-solid">
                            <div class="box-body">
                                <div class="box-group" id="accordion">
                                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                    <div class="panel box box-primary">
                                        <h4 class="box-title"
                                            style="font-family:sans-serif;width:100%; font-weight:normal;fornt-size:16px;">
                                            Basic Information
                                            <span id="basic_info" class="pull-right"></span>
                                        </h4>

                                        <div class="box-body">
                                            <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label style="margin-top: 10px;">
                                                    Name
                                                </label>
                                                {{ client_form.name }}
                                                {{ client_form.name.errors }}
                                            </div>
                                            <div class="col-md-4">
                                                <label style="margin-top: 10px;">
                                                    Email:
                                                </label>
                                                {{ client_form.email }}
                                                {{ client_form.email.errors }}
                                            </div>
                                            <div class="col-md-4">
                                                <label style="margin-top: 10px;">
                                                    Phone No:
                                                </label>
                                                {{ client_form.phone_number }}
                                                {{ client_form.phone_number.errors }}
                                            </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="panel box box-danger">
                                        <br/><h4 class="box-title"
                                            style="font-weight:normal;fornt-size:16px;font-family:sans-serif;">
                                            Address
                                            <span id="advance_info" class="pull-right"></span>
                                        </h4>

                                        <div class="box-body">
                                            <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label style="margin-top: 10px;width:60px;">
                                                    Flat No:
                                                </label>
                                                {{ address_form.flat_no }}
                                                {{ address_form.flat_no.errors }}
                                            </div>
                                            <div class="col-md-4">
                                                <label style="margin-top: 10px;width: 60px;">
                                                    Society:
                                                </label>
                                                {{ address_form.society }}
                                                {{ address_form.society.errors }}
                                            </div>
                                            <div class="col-md-4">
                                                <label style="margin-top: 10px; width: 60px;">
                                                    Area:
                                                </label>
                                                {{ address_form.area }}
                                                {{ address_form.area.errors }}
                                            </div>
                                                </div>
                                            <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label style="margin-top: 10px;width: 60px;">
                                                    City:
                                                </label>
                                                {{ address_form.city }}
                                                {{ address_form.city.errors }}
                                            </div>
                                            <div class="col-md-4">
                                                <label style="margin-top: 10px;width: 60px;">
                                                    Zipcode:
                                                </label>
                                                {{ address_form.zipcode }}
                                                {{ address_form.zipcode.errors }}
                                            </div>
                                                </div>
                                        </div>
                                    </div><br/>
                                    <div class="panel box box-danger"style="margin-top:20px;">
                                        <h4 class="box-title"
                                            style="font-weight:normal;fornt-size:16px;font-family:sans-serif;">Extra
                                            Information</h4>

                                        <div class="box-body">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label style="margin-top: 10px;">
                                                        Identity Proof:
                                                    </label>
                                                    {{ client_form.id_proof_types }}
                                                    {{ client_form.id_proof_types.errors }}
                                                </div>
                                                <div class="col-md-8">
                                                    <label style="margin-top: 10px;">
                                                        Proof:
                                                    </label>
                                                    {{ pic1.file }}
                                                    {{ pic1.file.errors }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-4 pull-left">
                                                    <label style="margin-top: 10px;">
                                                        Address Proof:
                                                    </label>
                                                    {{ client_form.address_proof_types }}
                                                    {{ client_form.address_proof_types.errors }}
                                                </div>
                                                <div class="col-md-8">
                                                    <label style="margin-top: 10px;">
                                                        Proof:
                                                    </label>
                                                    {{ pic2.file }}
                                                    {{ pic2.file.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </form>

                </div>


            </div>

            <!-- Modal Footer -->
            <div class="modal-footer" style="top:50px;">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
