	<!-- Offers-->
	
	<section id="pricing-block-x">
      <div class="container">
        <h1 class="section-title">
          Offers
        </h1>
        <div class="row">
          <div class="col-md-4 wow fadeInUpQuick animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
            <div class="pricing-table pricing-table-x text-center">
              <div class="table-header">
                <h3>
                  Offer 1
                </h3>
              </div>
              <div class="plan">
                <h3 class="price">
                  $0
                </h3>
                <p class="period">
                  30 Days Free Trial 
                </p>
              </div>
              <div class="plan-info">
                <p>
                  10 Users
                </p>
                <p>
                  Minimal Report
                </p>
                <p>
                  100MB Data Storage
                </p>
                <p>
                  No Support
                </p>
                <p>
                  Single Agent
                </p>
                <div class="button-area">
                  <a href="#" class="btn btn-common btn-lg">
                    SIGN UP
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4 wow fadeInUpQuick animated" data-wow-delay="1s" style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
            <div class="pricing-table pricing-table-x text-center">
              <div class="table-header highlight">
                <h3>
                  Standard
                </h3>
              </div>
              <div class="plan">
                <h3 class="price">
                  $29
                </h3>
                <p class="period">
                  10% Discount on Renewal
                </p>
              </div>
              <div class="plan-info">
                <p>
                  1K Users
                </p>
                <p>
                  Extensive Report
                </p>
                <p>
                  1GB Data Storage
                </p>
                <p>
                  Forum Support
                </p>
                <p>
                  5 Agents
                </p>
                <div class="button-area">
                  <a href="#" class="btn btn-common btn-lg">
                    SIGN UP
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4 wow fadeInUpQuick animated" data-wow-delay="1.5s" style="visibility: visible;-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; animation-delay: 1.5s;">
            <div class="pricing-table pricing-table-x text-center">
              <div class="table-header">
                <h3>
                  Professional
                </h3>
              </div>
              <div class="plan">
                <h3 class="price">
                  $99
                </h3>
                <p class="period">
                  25% Discount on Renewal 
                </p>
              </div>
              <div class="plan-info">
                <p>
                  Unlimited Users
                </p>
                <p>
                  Extensive Report
                </p>
                <p>
                  10GB Data Storage
                </p>
                <p>
                  Forum &amp; Ticket Support
                </p>
                <p>
                  20 Agents
                </p>
                <div class="button-area">
                  <a href="#" class="btn btn-common btn-lg">
                    SIGN UP
                  </a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
