{% load staticfiles %}
<section id="pricing-block-2">
    <div class="container">
        <h1 class="section-title">
            Plans
            <span class="pull-right btn btn-border btn-lg">More</span>
        </h1>

        <div class="row">

            <div class="col-md-3 wow fadeInUpQuick animated" data-wow-delay=".5s"
                 style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
                <div class="pricing-table pricing-table-2 text-center">
                    <div class="head">
                        <h3 class="period">
                            Weekly
                        </h3>

                        <h3 class="price">
                  <span>
                    $
                  </span>
                            4.99
                        </h3>

                        <p>
                            Recurring Billing
                        </p>
                    </div>
                    <a href="#" class="btn btn-border btn-lg">
                        Get Quotation
                    </a><br/>
                    <a href="#" class="btn btn-border btn-lg" style="margin-top:10px;">
                        Get connection
                    </a>
                </div>
            </div>

            <div class="col-md-3 wow fadeInUpQuick animated" data-wow-delay="1s"
                 style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                <div class="pricing-table pricing-table-2 text-center">
                    <div class="head">
                        <h3 class="period">
                            Monthly
                        </h3>

                        <h3 class="price">
                  <span>
                    $
                  </span>
                            19
                        </h3>

                        <p>
                            Recurring Billing
                        </p>
                    </div>
                    <a href="#" class="btn btn-border btn-lg">
                        Get Quotation
                    </a><br/>
                    <a href="#" class="btn btn-border btn-lg" style="margin-top:10px;">
                        Get connection
                    </a>
                </div>
            </div>

            <div class="col-md-3 wow fadeInUpQuick animated" data-wow-delay="1.5s"
                 style="visibility: visible;-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; animation-delay: 1.5s;">
                <div class="pricing-table pricing-table-2 text-center">
                    <div class="head">
                        <h3 class="period">
                            Quarterly
                        </h3>

                        <h3 class="price">
                  <span>
                    $
                  </span>
                            99
                        </h3>

                        <p>
                            Recurring Billing
                        </p>
                    </div>
                    <a href="#" class="btn btn-border btn-lg">
                        Get Quotation
                    </a><br/>
                    <a href="#" class="btn btn-border btn-lg" style="margin-top:10px;">
                        Get connection
                    </a>
                </div>
            </div>

            <div class="col-md-3 wow fadeInUpQuick animated" data-wow-delay="2s"
                 style="visibility: visible;-webkit-animation-delay: 2s; -moz-animation-delay: 2s; animation-delay: 2s;">
                <div class="pricing-table pricing-table-2 text-center">
                    <div class="head">
                        <h3 class="period">
                            Yerly
                        </h3>

                        <h3 class="price">
                  <span>
                    $
                  </span>
                            180
                        </h3>

                        <p>
                            Recurring Billing
                        </p>
                    </div>
                    <a href="#" class="btn btn-border btn-lg">
                        Get Quotation
                    </a><br/>
                    <a href="#" class="btn btn-border btn-lg" style="margin-top:10px;">
                        Get connection
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
